<!DOCTYPE html>
<html lang="en">


  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vehicle Tracking System</title>
    {% block stylesheets %}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    {% endblock %}
  </head>


  <body>
    {% include "login-form.html" %}

    <br>
    <br>
    <br>
    <br>

    {% include "request-an-account-form.html" %}


    {% block scripts %}
	  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    {% endblock %}
  </body>
</html>