<form method="post">
  <div class="container">
    <label for="uname">
      <b>Username</b> <input type="text" placeholder="Enter Username" name="uname" required>
    </label>

    <label for="psw">
      <b>Password</b> <input type="password" placeholder="Enter Password" name="psw" required>
    </label>

    <label for="cpsw">
      <b>Confirm Password</b> <input type="password" placeholder="Confirm Password" name="cpsw" required>
    </label>

    <label for="rnk"><b>Rank</b></label>
    <select name="rnk" id="rnk">
        <option value="cmsgt">CMSgt</option>
        <option value="smsgt">SMSgt</option>
        <option value="msgt">MSgt</option>
        <option value="tsgt">TSgt</option>
        <option value="ssgt">SSgt</option>
        <option value="sra">SrA</option>
        <option value="a1c">A1C</option>
        <option value="amn" selected>Amn</option>
        <option value="ab">AB</option>
    </select>

    <label for="fn">
      <b>First Name</b> <input type="text" placeholder="Enter First Name" name="fn" required>
    </label>

    <label for="ln"><b>Last Name</b>
      <input type="text" placeholder="Enter Last Name" name="ln" required>
    </label>

    <button type="submit">Request Account</button>
  </div>
</form>